@use "mixins" as *;
@use "variables" as *;

// @font-face {
//     font-family: 'Switzer';
//     src: url('../fonts/Switzer/Switzer-Variable.woff2') format('woff2');
//     font-weight: 100 900; /* Definiujesz zakres obsługiwanych grubości */
//     font-style: normal;
//     font-display: swap;
// }

:root {
    --bg-color: #{$clr-black};
    --bg-color-2: #{$clr-grey-light};
    --text-color: #{$clr-white};
    --text-muted: #{$clr-grey};
    --line: #2b2b2b;
}

.bg-color-2 {
    background-color: var(--bg-color-2);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    // font-family: $font-body;
    font-family: $font-inter;

    /* Fonts */
    font-size: $fs-md;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color);

    /* Background */
    background-color: var(--bg-color);
    -webkit-font-smoothing: antialiased; // Wygładzanie dla lepszego UX
}

// TYPOGRAFIA (Logika o którą pytałeś)
h1, h2, h3 {
    font-family: $font-inter;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-family: $font-inter;
    font-size: 3rem;
    margin-bottom: 2rem;

    @include respond-to("xlarge-desktop") {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    @include respond-to("large-desktop") {
        font-size: 2.25rem;
    }

    @include respond-to("tablet") {
        font-size: 2rem;
    }

    // @include respond-to("mobile") {
    //     font-size: 2rem;
    // }
}

h3 {
    font-size: 1.5rem;
}

// Mniejsze nagłówki mogą wrócić do Switzera dla czytelności (tak jak chciałeś)
h4, h5, h6 {
    font-family: $font-body;
    font-weight: 600;
}

p {
    font-size: $fs-md;
    line-height: 150%;
    color: $clr-grey;

    @include respond-to("desktop") {
        font-size: $fs-base;
    }
}

.small-p {
    font-size: $fs-base;
    line-height: 150%;
    color: $clr-grey;

    @include respond-to("tablet") {
        font-size: $fs-sm;
    }
}

.large-p {
    font-size: $fs-lg;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-muted);

    // @include respond-to("desktop") {
    //     font-size: $fs-md;
    // }
}


    // grid-column: span 7;

    // @include respond-to("large-desktop") {
    //     font-size: $fs-md;

    //     grid-column: span 9;
    // }

    // @include respond-to("desktop") {
    //     grid-column: span 9;
    // }

.caption {
    font-family: $font-header;
    font-size: $fs-md;
    // text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 2.5rem;

    @include respond-to("large-desktop") {
        font-size: $fs-base;
    }
}

// Paragrafy
.text-sm {
    font-size: $fs-sm;
}

.text-base {
    font-size: $fs-base;
    font-weight: 400;
    color: var(--text-muted);
}

.text-md {
    font-size: $fs-md;
    font-weight: 400;
    color: var(--text-muted);
}

.text-lg {
    font-size: $fs-lg;
    font-weight: 400;
    color: var(--text-muted);
}

.text-xl {
    font-size: $fs-xl;
    font-weight: 400;
    color: var(--text-muted);
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    display: inline-block;

    // Ten kod wykona się TYLKO, jeśli w środku <a> NIE MA obrazka
    &:not(:has(img)) {

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            background-color: var(--text-color);
            bottom: -4px;
            
            // KLUCZ: W stanie spoczynku kotwiczymy do prawej
            width: 0;
            right: 0; 
            
            // Animujemy tylko szerokość
            transition: width 0.3s ease-out;
        }

        &:hover {
            &::after {
                // KLUCZ: Podczas najechania kotwiczymy do lewej
                // Szerokość rośnie od lewej do prawej
                left: 0;
                right: auto;
                width: 100%;
            }
        }
    }
}

// ==========================================
// PADDINGI
// ==========================================
.p-left-2 { padding-left: 2rem; }

@include respond-to("xlarge-desktop") {
    // Klasa nadpisująca na tablecie
    .p-left-l-dekstop-0 { padding-left: 0; } 
}

.p-right-2 { padding-right: 2rem; }

@include respond-to("xlarge-desktop") {
    // Klasa nadpisująca na tablecie
    .p-right-l-dekstop-0 { padding-right: 0; } 
}


// ==========================================
// 1. KLASY BAZOWE (Domyślnie Full HD i powyżej)
// Generuje klasy: .col-1 do .col-12
// ==========================================
@for $i from 1 through $columns-full-hd-desktop {
    .col-#{$i} {
        grid-column: span $i;
    }
}

// ==========================================
// 2. LARGE DESKTOP (max-width: 1440px)
// ==========================================
@include respond-to("large-desktop") {
    @for $i from 1 through $columns-large-desktop {
        .col-large-desktop-#{$i} {
            grid-column: span $i;
        }
    }
}

// ==========================================
// 3. DESKTOP (max-width: 1024px)
// ==========================================
@include respond-to("desktop") {
    @for $i from 1 through $columns-desktop {
        .col-desktop-#{$i} {
            grid-column: span $i;
        }
    }
}

// ==========================================
// 4. TABLET (max-width: 768px)
// ==========================================
@include respond-to("tablet") {
    @for $i from 1 through $columns-tablet {
        .col-tablet-#{$i} {
            grid-column: span $i;
        }
    }
}

// ==========================================
// 5. MOBILE (max-width: 528px)
// ==========================================
@include respond-to("mobile") {
    @for $i from 1 through $columns-mobile {
        .col-mobile-#{$i} {
            grid-column: span $i;
        }
    }
}

.wrapper-small {
    @include make-container-small
}

.wrapper {
    @include make-container;
}

.grid {
    @include make-grid;
}

// .chevron {
//   display: inline-block;

//   &::after {
//     content: none;
//   }

//   i {
//     margin-left: 4px;
//     transition: margin-left 0.2s ease-in-out;
//   }

//   &:hover i {
//     margin-left: 8px;
//   }
// }
