---
import SectionIntroCenter from './SectionIntroCenter.astro';
import OfferItem from './OfferItem.astro';
import OfferItemCopy from './OfferItemCopy.astro';

const { class: className, ...rest } = Astro.props;
---

<section class="offer wrapper-small" class:list={["base-section", className]} {...rest}>
    <div class="offer__flex">
         <SectionIntroCenter 
            caption="Oferta"
            title="Dla kogo tworzymy?"
            class="col-12 col-desktop-12 col-tablet-8">
            <p>Tworzymy dla tych, którzy cenią bezkompromisową jakość&nbsp;i szybką realizację bez remontu. Budujemy prestiż firm&nbsp;i unikalny klimat domów. Wybierz swoją przestrzeń.</p>
        </SectionIntroCenter>
        <div class="grid">
            <!-- <OfferItem
                imageSrc="/src/assets/img/company.jpg"
                linkHref="/oferta/firmy"
                linkText="Biznes"
                class="col-6"
            /> -->
            <OfferItemCopy
                imageSrc="/src/assets/img/company.jpg"
                linkHref="/oferta/firmy"
                linkText="Bizens"
                description="Nowoczesne murale i logotypy 8K. Szybka metamorfoza biura bez przerywania pracy."
                class="col-6"
            />
            <OfferItemCopy
                imageSrc="/src/assets/img/home.jpg"
                linkHref="/oferta/firmy"
                linkText="Dom"
                description="Odmień swoje wnętrze fotorealistyczną grafiką 8K. Ekologiczny, bezwonny druk bezpieczny dla dzieci."
                class="col-6"
            />
            <!-- <OfferItem 
                imageSrc="/src/assets/img/home.jpg"
                linkHref="/oferta/firmy"
                linkText="Dom"
                class="col-6"
            /> -->
        </div>
    </div>
</section>

<style lang="scss">
@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.offer {
    &__flex {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin-top: 3rem;
        margin-bottom: 6rem;

        // ==========================================
        // 2. TABLET (8 kolumn)
        // ==========================================
        @include respond-to("desktop") {

            // Karty pod tekstem (po połowie szerokości)
            > :global(.offer-item) {
                grid-column: span 6; 
            }
        }


        // ==========================================
        // 3. MOBILE (4 kolumny)
        // ==========================================
        @include respond-to("tablet") {

            // Karty na 100%
            > :global(.offer-item) {
                grid-column: span 8;
                height: auto;
            }

            > :global(.offer-item:nth-of-type(2)) {
                margin-top: 1.5rem; // Odsunięcie od poprzedniej karty na zewnątrz
            }
        }
    }
}
</style>