---
import SectionIntro from "./SectionIntro.astro";
import ContactForm from "./ContactForm.astro";
---

<div class="wrapper">
    <div class="grid">
        <SectionIntro
        caption="Kontakt"
        title="Darmowa wycena Twojego projektu w 24h."
        class="col-7 col-desktop-12 col-tablet-8 p-right-2 p-right-l-dekstop-0">
			<p>Prześlij nam zdjęcie i wymiary powierzchni – my zajmiemy się resztą. Działamy w całej Polsce dla firm i osób prywatnych.</p>
        </SectionIntro>
        <ContactForm />
    </div>
</div>