---
import ProcessItem from './ProcessItem.astro';
import StepsItem from './StepsItem.astro';
---

<section class="process wrapper">
    <div class="process__intro grid">
        <span class="caption col-3 col-tablet-8 col-mobile-4">Realizacja</span>
        <div class="content col-9 col-tablet-8 col-mobile-4">
            <h2>Jak przebiega realizacja?</h2>
            <p class="large-p">
                Boisz się remontu, kurzu i&nbsp;wielodniowego bałaganu? Niepotrzebnie. Druk ścienny to najnowocześniejsza i&nbsp;najczystsza forma dekoracji ścian. W&nbsp;Exclusive Walls cały proces zaprojektowaliśmy tak, aby był dla Ciebie maksymalnie komfortowy. Zobacz, jak działamy:
            </p>
        </div>
    </div>

    <ol class="process__grid grid">
        <ProcessItem number="01" title="Voucher na druk ścienny za punkty z Twojej kafeterii benefitowej. ">
            <p>Teraz środki od pracodawcy możesz wydać na unikalny design. Wymień swoje punkty w kafeterii na voucher do Exclusive Walls – dokładnie tak samo, jak kupujesz bony do marketów czy karty sportowe. Wykorzystaj go, by sfinansować wymarzony druk na ścianie w swoim domu lub biurze.</p>
        </ProcessItem>

        <ProcessItem number="02" title="Jak zrealizować voucher? Prześlij nam szczegóły swojego projektu. ">
            <p>Masz już kod? Napisz do nas lub zadzwoń. Podaj adres realizacji, wymiary ściany oraz pomysł na grafikę (np. logo lub motyw do sypialni). Daj znać, czy masz już wzór, czy potrzebujesz inspiracji. Na tej podstawie przygotujemy wycenę, którą opłacisz swoim voucherem. To proste!</p>
        </ProcessItem>
        
        <ProcessItem number="03" title="Płać kodem z kafeterii i ciesz się nowym wnętrzem w jeden dzień."> 
            <p>Po akceptacji wyceny rozliczasz się za pomocą swojego kodu – bez zbędnych formalności. Ustalimy termin, a druk wykonamy w kilka godzin, bez brudu i remontu. Na każde zgłoszenie odpowiadamy najszybciej jak to możliwe, zazwyczaj już w kolejnym dniu roboczym. Czysto, szybko i konkretnie!</p>
        </ProcessItem> 

        
    </ol>
    <ol>
        <StepsItem data-aos="fade-up"
            stepNumber="01"
            title="Voucher na druk ścienny za punkty z Twojej kafeterii benefitowej."
            description="Teraz środki od pracodawcy możesz wydać na unikalny design. Wymień swoje punkty w kafeterii na voucher do Exclusive Walls – dokładnie tak samo, jak kupujesz bony do marketów czy karty sportowe. Wykorzystaj go, by sfinansować wymarzony druk na ścianie w swoim domu lub biurze."
        />
        <StepsItem data-aos="fade-up"
            stepNumber="02"
            title="Twoja wizja i wycena"
            description="Prześlij nam zdjęcie ściany i wymiary. Masz własną grafikę? Świetnie. Szukasz inspiracji? Pomożemy Ci wybrać wzór z bazy milionów zdjęć w jakości 8K. Darmową wycenę otrzymasz od nas w 24 godziny."
        />
    </ol>
</section>

<style lang="scss">
@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.process {
    margin-bottom: 8rem;

    &__intro {
        margin-bottom: 5rem;

        // .caption {
        //     grid-column: span 3;
        // }

        // .content {
        //     grid-column: span 9;
        // }

        h2 {
            margin-bottom: 1rem;
        }
    }

    &__grid {
        list-style: none;
        padding: 0;
        margin: 0;
        
        ul {
            list-style: disc;
            
            li::marker {
                // Zmieniamy kolor samej kropki.
                color: var(--text-color);
            }
        }

        // ==========================================
        // 1. DESKTOP (12 kolumn -> 4 kroki po 3 kolumny)
        // ==========================================
        > :global(.process-item) {
            grid-column: span 4; 
        }

        > :global(.process-item:nth-of-type(2)) {
            ul {
                margin-left: 1.5rem;
            }
        }

        // ==========================================
        // 2. TABLET (8 kolumn -> 2 kroki w rzędzie po 4 kolumny)
        // ==========================================
        @include respond-to("tablet") {
            // Dodajemy gap w pionie, żeby kroki ładnie się odsunęły, gdy spadną do 2 rzędu
            row-gap: 3rem;

            > :global(.process-item) {
                grid-column: span 4; 
            }
        }

        // ==========================================
        // 3. MOBILE (4 kolumny -> 1 krok w rzędzie)
        // ==========================================
        @include respond-to("mobile") {
            row-gap: 2.5rem;

            > :global(.process-item) {
                grid-column: span 4; 
            }
        }
    }
}
</style>